.btn {
  /* BORDER  */
  /* BORDER  */

  position: relative;
  overflow: hidden;

  border: 0;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  border-radius: 0.5rem;

  font: var(--fw-md) var(--fs-base) / 1.5rem var(--font-family);

  cursor: pointer;

  background: var(--btn-bg-color);
  color: var(--btn-color);

  transition: color 0.3s ease-in-out;
  z-index: 2;
  
}
/* TRANSIÇÃO DO BACKGROUND DO BOTÃO  */
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--sunshine-gradient);
  opacity: 0;
  transform-origin: center;
  transition: opacity 0.15s ease-in-out;
  z-index: -1;
}
.btn:hover,
.btn02:hover {
  --btn02-bg-color: var(--sunshine-gradient);
  --btn-color: var(--surface-color);
  color: var(--btn-color);
  -webkit-background-clip: initial ; 
  background-clip: initial;
}
.btn:hover::before {
  opacity: 1;
}
/* TRANSIÇÃO DO BACKGROUND DO BOTÃO   */
.btn02 {
  /* position: relative; */

  position: relative;

  border: 0;
  background-color: transparent;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  border-radius: 0.5rem;

  font: var(--fw-md) var(--fs-base) / 1.5rem var(--font-family);

  cursor: pointer;

  background: var(--btn02-bg-color);
  color: var(--btn-color);

  transition: color 0.3s ease-in-out;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: 1.5px;
    background-color: var(--background-color);
    z-index: 1;
  }
  &::after {
    content: attr(aria-label);
    background: var(--btn02-bg-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    z-index: 1;
  }
}
/* ANIMATION  */

.border-anim {
  --bw: 3px;
  --outline: var(--bw) solid transparent;
  outline: var(--outline);
  transition: 0.25s;

  &:hover {
    --outline: var(--bw) solid var(--text-color-primary);
  }
}

.btn-sm {
  font-size: var(--fs-sm);
  padding: 0.5rem 1rem;
}
.btn-md {
  font-size: var(--fs-base);
  padding: 0.75rem 1.5rem;
}
.btn-lg {
  font-size: 1.125rem;
  padding: 1rem 2rem;
}


@media (width >= 80em){

  .btn-sm {
    font-size: var(--fs-base);
    padding: 0.75rem 1.5rem;
  }
  .btn-md {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }

}
