/* utilities de Padding  */
.py-base {
  padding-block: var(--py-base);
}
.py-lg {
  padding-block: var(--py-lg);
}
.py-xl {
  padding-block: var(--py-xl);
}
.px-lg {
  padding-inline: var(--px-lg);
}
/* utilities de Padding  */

.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  /* border: solid white; */
  margin-inline: auto;
}

.desktop-only {
  display: none;
}
.even-columns {
  display: grid;
  gap: 1rem;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.gap-1 {
  gap: 1rem;
}
.gap-1\.5 {
  gap: 1.5rem;
}
.grid {
  display: grid;
}
/* ANIMATION  */
/* ANIMATION  */
.line-bellow {
  position: relative;
  &::after {
    content: "";
    border-bottom: solid 1px white;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    transform: scaleX(0);
    transition: transform 0.15s;
    transform-origin: center;
  }
  &:hover::after {
    transform: scaleX(1);
  }
}
/* IN DESKTOP  */
/* IN DESKTOP  */
@media (width >= 80em) {
  .container {
    --max-width: 80em;
  }

  .desktop-only {
    display: initial;
  }
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
